<!-- Headline section -->
<section
        class="d-flex qntm-eye-catcher-section justify-content-center align-items-center align-content-center flex-wrap text-center">
    <div class="qntm-eye-catcher-title-container">
        <div class="qntm-eye-catcher-headline font-headline-text blue-font m-auto">
            <h1>We are Quantum CMS</h1>
        </div>
        <div class="qntm-eye-catcher-content font-normal-text d-flex flex-column flex-grow-1 flex-shrink-1">
                <span>
                    The Content Management System built for omnichannel experiences.
                </span>
        </div>
    </div>
</section>

<!-- Section with the aim of Quantum -->
<section
        class="qntm-eye-catcher-section justify-content-center align-items-center align-content-center flex-wrap text-center">
    <div class="qntm-width-container mx-auto">
        <div class="qntm-eye-catcher-title-container">
            <div class="qntm-feature-intro-headline-teaser font-small-text d-block text-center">
                <span>Our vision</span>
            </div>
            <div class="qntm-eye-catcher-headline font-special-text blue-font text-center m-auto">
                <h2>Everything you need to build engaging online experiences.</h2>
            </div>
            <div class="qntm-eye-catcher-content font-normal-text d-flex flex-column flex-grow-1 flex-shrink-1">
                <span>
                    Quantum CMS is the only headless CMS that enables both
                    marketers and developers to create engaging online experiences
                    that look and feel great on any channel.
                </span>
            </div>
        </div>
    </div>
</section>

<!-- Separator line -->
<div class="qntm-separator-line-about-us"></div>
<section>
    <!-- Section with statements -->
    <div class="qntm-statement-item-section background-image-left-side d-flex p-0 align-items-start justify-content-start flex-wrap">
        <!--1.-->
        <div class="qntm-statement-item-text d-block w-100 justify-content-start align-items-start align-content-center flex-grow-1 flex-shrink-1">
            <div class="qntm-feature-item-text-title">
                <h2 class="font-headline-text">We put our customers first.</h2>
            </div>
            <div class="qntm-statement-item-text-descripion">
                <p>We’re here for you—wherever you are. We’ll listen to you—any time. We’ll support you—all the way.
                    Always.</p>
            </div>
        </div>
    </div>
    <!--2.-->
    <div class="qntm-statement-item-section d-flex p-0 align-items-end justify-content-end flex-wrap background-image-right-side">
        <div class="qntm-statement-item-text qntm-statement-item-text-reverse d-block w-100 justify-content-start align-items-start align-content-center flex-grow-1 flex-shrink-1">
            <div class="qntm-feature-item-text-title">
                <h2 class="font-headline-text">We are principled.</h2>
            </div>
            <div class="qntm-statement-item-text-descripion">
                <p>We take our work seriously, and we do it with integrity and in
                    alignment with our core principles. Leading by example.</p>
            </div>
        </div>
    </div>
    <!--3.-->
    <div class="qntm-statement-item-section d-flex p-0 align-items-start justify-content-start flex-wrap background-image-left-side">
        <div class="qntm-statement-item-text d-block w-100 justify-content-start align-items-start align-content-center flex-grow-1 flex-shrink-1">
            <div class="qntm-feature-item-text-title">
                <h2 class="font-headline-text">Democratizing content.</h2>
            </div>
            <div class="qntm-statement-item-text-descripion">
                <p>Combining state-of-the-art technologies with a user-friendly authoring interface to deliver engaging
                    digital experiences.</p>
            </div>
        </div>
    </div>
</section>
<!-- Separator line -->
<div class="qntm-separator-line-about-us"></div>

<!-- Meet the team section -->
<section class="d-flex justify-content-center">
    <div class="qntm-why-container qntm-team-container shape-drop-shadow shape-rounded-corners-big blue-background">
        <div class="qntm-eye-catcher-headline font-headline-text text-white text-center m-auto">
            <h1>Meet the team</h1>
        </div>
        <div class="qntm-slalom-section d-flex justify-content-center align-items-center pt-0 flex-wrap">
            <div class="qntm-slalom-text w-100 flex-grow-1 flex-shrink-1 d-block justify-content-center align-items-center align-content-center">
                <div class="qntm-slalom-text-title">
                    <h1 class="font-headline-text text-white">Alexander Aichholz</h1>
                </div>
                <div class="qntm-slalom-text-descripion">
                    <p class="text-white">
                        Alex is a business information systems student currently pursuing his bachelor with a
                        specialization in business process management.
                        At Quantum CMS, Alex is responsible for the deployment optimization, UX design and frontend
                        development.
                    </p>
                </div>
            </div>
            <div class="qntm-slalom-graphic d-flex position-relative justify-content-center  w-auto">
                <!-- TODO replace placeholder pic -->
                <img class="shape-drop-shadow shape-rounded-corners-big" src="images/teamMember.png">
            </div>
        </div>
        <div class="qntm-slalom-section qntm-section-reverse  d-flex justify-content-center align-items-center pt-0 flex-wrap">
            <div class="qntm-slalom-graphic qntm-slalom-reverse d-flex position-relative justify-content-center  w-auto">
                <img class="shape-drop-shadow shape-rounded-corners-big" src="images/teamMember_AH.jpeg">
            </div>
            <div class="qntm-slalom-text qntm-slalom-text-reverse w-100 flex-grow-1 flex-shrink-1 d-block justify-content-center align-items-center align-content-center">
                <div class="qntm-slalom-text-title">
                    <h1 class="font-headline-text text-white">Alexander Heckmann</h1>
                </div>
                <div class="qntm-slalom-text-descripion">
                    <p class="text-white">
                        Alex is currently pursuing his bachelor's in business information systems with a
                        specialization in software & system development and is a working student involved in
                        product management at Porsche AG.
                        At Quantum CMS, Alex is responsible for the product vision, project management and the software
                        architecture.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section about getting started at the bottom of the page -->
<%- partial('../../partials/public/getting-started-partial.ejs'); %>
