<section
        class="qntm-feature-intro-section background-image-left-side d-flex justify-content-center align-items-center align-content-center text-center mb-4">
    <div class="qntm-feature-intro-title-container d-flex justify-content-center align-items-center">
        <div class="qntm-width-container mx-auto">
            <div class="qntm-feature-intro-headline-teaser font-small-text d-block text-center">
                <span>Redefining content delivery</span>
            </div>
            <div>
                <h1 class="qntm-eye-catcher-headline font-headline-text blue-font m-auto">
                    <span>The central platform for your content</span>
                </h1>
                <div class="qntm-feature-intro-content m-auto text-center font-normal-text">
						<span>
							You love writing content, but not distributing it to different media channels.
							Our fully managed service means your writers can now focus on delivering content,
                            that's why we added as much features as needed for them to create optimal content.
						</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="qntm-slalom-section d-flex justify-content-center align-items-end pt-0 flex-wrap">
    <div class="qntm-slalom-text w-100 flex-grow-1 flex-shrink-1 d-block justify-content-center align-items-center align-content-center mb-5 pb-5">
        <div class="qntm-slalom-text-title">
            <h2 class="font-headline-text">Collaboration</h2>
        </div>
        <div class="qntm-slalom-text-descripion font-normal-text">
            <p>
                Work on ideas together with your colleagues, wherever you are. Organize yourself into
                groups or quickly switch between workspaces.
            </p>
        </div>
    </div>
    <div class="qntm-slalom-graphic d-flex position-relative justify-content-center w-auto px-4 mb-5 pb-5">
        <div class="app-info-column d-flex justify-content-start">
            <div>
                <div class="app-dropdown dropup mb-3 app-info-column">
                    <button type="button" id="app-dropdown-button"
                            class="qntm-primary-button bg-white w-100 shape-rounded-corners-small border dropdown-toggle
                                    font-special-text font-extra-small-text grey-font">
                        AI @ Online Car Sales 2.0
                    </button>
                    <div id="dropdownList" style="bottom: 100%; box-shadow: 0 -8px 16px 0 rgba(0, 0, 0, 0.2);"
                         class="app-dropdown-content position-absolute grey-background w-100">
                        <button type="button"
                                class="font-special-text grey-font text-center d-block app-dropdown-item w-100 bg-white">
                            Formula E
                        </button>
                        <button type="button"
                                class="font-special-text grey-font text-center d-block app-dropdown-item w-100 bg-white">
                            IAA 2022
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section
        class="qntm-slalom-section qntm-section-reverse d-flex justify-content-center align-items-start pt-0 flex-wrap mb-5">
    <div class="qntm-slalom-graphic qntm-slalom-reverse d-flex position-relative justify-content-center w-auto px-4">
        <div class="app-info-column d-flex justify-content-start">
            <div>
                <div class="app-dropdown mb-3 app-info-column">
                    <button type="button" id="app-dropdown-button"
                            class="qntm-primary-button grey-background w-100 shape-rounded-corners-small border dropdown-toggle
                                    font-special-text font-extra-small-text grey-font">
                        Retrieve older versions
                    </button>
                    <div id="dropdownList"
                         class="app-dropdown-content position-absolute grey-background w-100">
                        <button type="button" class="grey-font text-center d-block app-dropdown-item w-100">
                            12/01/2022 13:14
                        </button>
                        <button type="button" class="grey-font text-center d-block app-dropdown-item w-100">
                            22/12/2021 17:42
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="qntm-slalom-text qntm-slalom-text-reverse w-100 flex-grow-1 flex-shrink-1 d-block justify-content-center align-items-center align-content-center">
        <div class="qntm-slalom-text-title">
            <h2 class="font-headline-text">Switch between versions</h2>
        </div>
        <div class="qntm-slalom-text-descripion font-normal-text">
            <p>
                You've updated an entry and you're unhappy with the outcome?
                Just retrieve the original version to quickly retrieve older versions of your ideas!
            </p>
        </div>
    </div>
</section>
<section class="qntm-slalom-section d-flex justify-content-center align-items-center pt-0 flex-wrap">
    <div class="qntm-slalom-text w-100 flex-grow-1 flex-shrink-1 d-block justify-content-center align-items-center align-content-center">
        <div class="qntm-slalom-text-title">
            <h2 class="font-headline-text">Grouping similar content</h2>
        </div>
        <div class="qntm-slalom-text-descripion font-normal-text">
            <p>
                Add tags to any content you want, if it helps you keeping your ideas organized. Or have a look what your
                colleagues work on using the same tags.
            </p>
        </div>
    </div>
    <div class="qntm-slalom-graphic d-flex position-relative justify-content-center w-auto px-4">
        <div class="d-flex flex-row flex-wrap justify-content-start app-info-column">
            <button class="d-flex border px-2 mr-1 mt-1 shape-rounded-corners-big align-items-center flex-nowrap app-tag-container bg-white">
                                <span class="font-extra-small-text font-weight-bold"
                                      style="color: lightseagreen">●</span>
                <span class="px-1 font-extra-small-text font-weight-bold text-truncate">Motorsports</span>
                <span class="font-extra-small-text font-weight-bold app-tag-close-button shape-rounded-corners-big"></span>
            </button>
            <button class="d-flex border px-2 mr-1 mt-1 shape-rounded-corners-big align-items-center flex-nowrap app-tag-container bg-white">
                                <span class="font-extra-small-text font-weight-bold"
                                      style="color: lightsteelblue">●</span>
                <span class="px-1 font-extra-small-text font-weight-bold text-truncate">Cars</span>
                <span class="font-extra-small-text font-weight-bold app-tag-close-button shape-rounded-corners-big"></span>
            </button>
            <button class="d-flex border px-2 mr-1 mt-1 shape-rounded-corners-big align-items-center flex-nowrap app-tag-container bg-white">
                                <span class="font-extra-small-text font-weight-bold"
                                      style="color: orangered">●</span>
                <span class="px-1 font-extra-small-text font-weight-bold text-truncate">Electric Vehicles</span>
                <span class="font-extra-small-text font-weight-bold app-tag-close-button shape-rounded-corners-big"></span>
            </button>
            <button class="d-flex border px-2 mr-1 mt-1 shape-rounded-corners-big align-items-center flex-nowrap app-tag-container bg-white">
                                <span class="font-extra-small-text font-weight-bold"
                                      style="color: lightsalmon">●</span>
                <span class="px-1 font-extra-small-text font-weight-bold text-truncate">Events</span>
                <span class="font-extra-small-text font-weight-bold app-tag-close-button shape-rounded-corners-big"></span>
            </button>
            <button type="button" id="app-tag-add-container"
                    class="d-flex border px-2 mr-1 mt-1 shape-rounded-corners-big align-items-center flex-nowrap bg-white">
                <span class="font-extra-small-text font-weight-bold">+</span>
            </button>
        </div>
    </div>
</section>
<section
        class="qntm-slalom-section qntm-section-reverse d-flex justify-content-center align-items-center pt-0 flex-wrap">
    <div class="qntm-slalom-graphic qntm-slalom-reverse d-flex position-relative justify-content-center w-auto px-4">
        <div class="app-info-column d-flex flex-column justify-content-start align-items-start">
            <div class="ml-1 font-extra-small-text font-weight-bold float-left">
                <label for="entry_endpoint" class="mb-1">Endpoint:</label>
            </div>
            <button type="button"
                    class="mb-2 d-flex align-items-center grey-background border shape-rounded-corners-small"
                    id="entry_endpoint_container">
                <span class="text-truncate font-extra-small-text border-0 p-1 mr-2">
                    <span>https://qntm-cms.herokuapp.com/api/external/1</span>
                </span>
                <img src="/images/icon-copy.svg" alt="Copy to clipboard"
                     id="app-copy-button-icon"
                     class="d-inline-block flex-shrink-0 mr-1 qntm-icon-button">
            </button>
        </div>
    </div>
    <div class="qntm-slalom-text qntm-slalom-text-reverse w-100 flex-grow-1 flex-shrink-1 d-block justify-content-center align-items-center align-content-center">
        <div class="qntm-slalom-text-title">
            <h2 class="font-headline-text">Embed your content anywhere</h2>
        </div>
        <div class="qntm-slalom-text-descripion font-normal-text">
            <p>Content is independent of any presentation, so we added a simple REST API your developers can use to
                fetch
                the current version of your content any time!
            </p>
        </div>
    </div>
</section>
<%- partial('../../partials/public/getting-started-partial.ejs'); %>
