<!-- section with eye catcher -->
<section class="d-flex qntm-eye-catcher-section justify-content-center align-items-center align-content-center flex-wrap text-center background-image">
    <div class="qntm-width-container mx-auto">
        <div class="qntm-eye-catcher-headline font-headline-text blue-font m-auto">
            <h1>Powering your digital experiences</h1>
        </div>
        <div class="qntm-eye-catcher-content font-normal-text d-flex flex-column flex-grow-1 flex-shrink-1">
				<span>
					The Quantum Content Management System helps create, manage and optimize your digital customer
					experiences.
					Quantum CMS is essential to managing the overall
					personalized digital experience
					across different channels, including websites, portals, email, mobile apps, connected devices and
					social media.
				</span>
        </div>
        <div class="qntm-eye-catcher-content-small font-extra-small-text mx-auto">
            <span>Try Quantum for free!</span>
        </div>
        <div title="Try Free">
            <a class=" qntm-primary-button font-special-text shape-rounded-corners-small" href="/signup">Get Started</a>
        </div>
        <div class="eye-catcher-img-container">
            <img class="qntm-eye-catcher-img shape-drop-shadow shape-rounded-corners-big mw-100 align-items-center"
                 src="images/eye-catcher.jpg"
                 alt="Eye catcher CMS">
        </div>
    </div>
</section>
<div class="qntm-separator-line-short w-50"></div>
<section
        class="qntm-feature-intro-section background-image-left-side d-flex justify-content-center align-items-center align-content-center text-center">
    <div class="qntm-feature-intro-title-container d-flex justify-content-center align-items-center">
        <div class="qntm-width-container mx-auto">
            <div class="qntm-feature-intro-headline-teaser font-small-text d-block text-center">
                <span>Redefining content delivery</span>
            </div>
            <div>
                <h1 class="qntm-eye-catcher-headline font-headline-text blue-font m-auto">
                    <span>The central platform for your content</span>
                </h1>
                <div class="qntm-feature-intro-content m-auto text-center font-normal-text">
						<span>
							You love writing content, but not distributing it to different media channels.
							Our fully managed service means your writers can now focus on delivering content,
							while developers can concentrate on development,
							without having to be involved in the content creation process.
						</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="qntm-slalom-section d-flex justify-content-center align-items-center pt-0 flex-wrap">
    <div class="qntm-slalom-text w-100 flex-grow-1 flex-shrink-1 d-block justify-content-center align-items-center align-content-center">
        <div class="qntm-slalom-text-title">
            <h2 class="font-headline-text">Create content lightning fast</h2>
        </div>
        <div class="qntm-slalom-text-descripion font-normal-text">
            <p>A flexible tool to power any front end while retaining powerful authoring capabilities,
                delivering your content in no time.
            </p>
        </div>
    </div>
    <div class="qntm-slalom-graphic d-flex position-relative justify-content-center  w-auto">
        <!-- TODO replace placeholder pic -->
        <img class="shape-drop-shadow shape-rounded-corners-big" src="images/feature1.jpg" alt="Fast content creation">
    </div>
</section>
<section
        class="qntm-slalom-section qntm-section-reverse d-flex justify-content-center align-items-center pt-0 flex-wrap">
    <div class="qntm-slalom-graphic qntm-slalom-reverse d-flex position-relative justify-content-center  w-auto">
        <!-- TODO replace placeholder pic -->
        <img class="shape-drop-shadow shape-rounded-corners-big" src="images/feature2.jpg" alt="Easy content overview">
    </div>
    <div class="qntm-slalom-text qntm-slalom-text-reverse w-100 flex-grow-1 flex-shrink-1 d-block justify-content-center align-items-center align-content-center">
        <div class="qntm-slalom-text-title">
            <h2 class="font-headline-text">Overviewing your content</h2>
        </div>
        <div class="qntm-slalom-text-descripion font-normal-text">
            <p>Content is independent of any presentation, so having a central tool for managing and
                distributing your content helps streamlining the digital experience.
            </p>
        </div>
    </div>
</section>
<section class="qntm-slalom-section d-flex justify-content-center align-items-center pt-0 flex-wrap">
    <div class="qntm-slalom-text w-100 flex-grow-1 flex-shrink-1 d-block justify-content-center align-items-center align-content-center">
        <div class="qntm-slalom-text-title">
            <h2 class="font-headline-text">Experience at full speed</h2>
        </div>
        <div class="qntm-slalom-text-descripion font-normal-text">
            <p>Get the content you need right away with the built-in endpoints.
                Embed it easily into your applications, powered by REST APIs.
            </p>
        </div>
    </div>
    <div class="qntm-slalom-graphic d-flex position-relative justify-content-center w-auto">
        <!-- TODO replace placeholder pic -->
        <img class="shape-drop-shadow shape-rounded-corners-big" src="images/feature3.jpg" alt="Embed your content">
    </div>
</section>
<!-- Contains information about why people should use our platform -->
<section class="d-flex justify-content-center">
    <div class="qntm-why-container shape-drop-shadow shape-rounded-corners-big blue-background">
        <div class="d-flex flex-wrap justify-content-start ">
            <div class="qntm-why-parent-text d-block float-left">
                <h4 class="qntm-why-title-question font-extra-small-text text-white">Why Quantum CMS?</h4>
                <h3 class="qntm-why-title font-headline-text text-white">We Are Focused On Perfecting Omnichannel
                    Experiences</h3>
            </div>
            <div class="qntm-why-box-container d-flex flex-wrap justify-content-between">
                <div class="qntm-why-box">
                    <h4 class="why-reason text-white">
                        Efficiency
                    </h4>
                    <p class="font-normal-text text-white">
                        Accelerate building digital experiences with a content platform that delivers at enterprise
                        scale, increasing flexibility with a content management system.
                    </p>
                </div>
                <div class="qntm-why-box">
                    <h4 class="why-reason text-white">
                        Version-Controlled
                    </h4>
                    <p class="font-normal-text text-white">
                        When editing content, copies of previous state get saved, so you can switch between different
                        versions without any hassle - retrieving old ideas quickly!
                    </p>
                </div>
                <div class="qntm-why-box">
                    <h4 class="why-reason text-white">
                        Cloud-Hosted
                    </h4>
                    <p class="font-normal-text text-white">
                        Quantum CMS is built for being used without any setup needed, so you can access it from anywhere
                        and start getting creative within minutes.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section about getting started at the bottom of the page -->
<%- partial('../../partials/public/getting-started-partial.ejs'); %>
