<div class="d-flex flex-grow-1 flex-shrink-1" id="app">
    <!-- Section about getting started at the end of the page -->
    <%- partial('../../partials/landing-pages/getting-started-call.ejs') %>
</div>
