<section class="qntm-getting-started-section">
    <div class="qntm-getting-started-container d-flex position-relative align-items-center m-auto">
        <div class="qntm-getting-started-text-container flex-grow-1 flex-shrink-1">
            <h2 class="qntm-getting-started-title m-0 p-5-vertical blue-font">Ready to get started?</h2>
            <span class="getting-started-text p-5-vertical">
				Start writing your content and deliver it to all of your media channels - all within minutes!
			</span>
        </div>
        <% if (!me) { %>
        <a class="getting-started-button qntm-primary-button font-special-text shape-rounded-corners-small"
           href="/signup">
            Get Started
        </a>
        <% } else {%>
            <a class="getting-started-button qntm-primary-button font-special-text shape-rounded-corners-small"
               href="/dashboard">
                Get Started
            </a>
        <% }%>
    </div>
</section>
