<% if(!me.organisation){ %>
    <div id="noGrpsSection" class="flex-fill">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <span class="mb-3">Before you can create a group, you must belong to an organisation.</span>
            <button class="qntm-button font-special-text shape-rounded-corners-small">
                <a class="toolbar-btn" href="/organisation/new">Create your organisation</a>
            </button>
            <span class="font-extra-small-text py-3">or</span>
            <button class="qntm-button font-special-text shape-rounded-corners-small"
                    onclick="showInviteCodeInput()">
                <span class="toolbar-btn">join an existing one!</span>
            </button>
            <div class="flex-column align-items-center pt-3" id="inviteCodeSection">
                <label class="font-extra-small-text font-weight-bold">Enter your invite code:</label>
                <input id="inviteCodeInput"
                       class="border-bottom pb-2 font-headline-text font-weight-bold w-50 text-center"
                       type="text" autocomplete="false" minlength="8" maxlength="8" required
                       onkeydown="submitCode()"/>
                <label class="font-extra-small-text font-weight-bold">The code consists of 8 characters <br> (0-9 and
                    a-f):</label>
                <label id="inviteCodeAlert" class="font-extra-small-text font-weight-bold text-danger">Please enter
                    a valid code!</label>
            </div>
        </div>
    </div>
    <script>
      window.onload = () => {
        $('#inviteCodeSection').hide();
        $('#inviteCodeAlert').hide();
        fetchOrgData();
      };
    </script>
<% } else { %>
    <% if (grps.length > 0) { %>
        <script>
          window.onload = (event) => {
            createMemberTable();
          };
        </script>
        <div class="flex-fill container mt-4 mb-4">
            <div id="grpsSection" class="border rounded mt-2 p-2">
                <!-- Your working groups -->
                <div class="container">
                    <div class="d-flex flex-column justify-content-between mt-2">
                        <h3>Groups</h3>
                        <select onkeydown="ignoreKeys(event);" class="custom-select" id="grpSelect"
                                onchange="resetTable()">
                            <% grps.forEach(function(grps){ %>
                                <option value="<%= grps.id; %>">
                                    <%= grps.name; %>
                                </option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="form-group mt-1 mb-1">
                        <textarea readonly id="grpDescText" class="form-control grpTextDesc" rows="2"></textarea>
                    </div>
                    <div id="toolbarGrps" class="d-flex mt-2">
                        <div id="toolbarGrpsMember">
                            <button class="qntm-button font-special-text shape-rounded-corners-small">
                                <a class="toolbar-btn" href="/groups/new">Create new group</a>
                            </button>
                        </div>
                        <div id="toolbarGrpsAdmin">
                            <button class="qntm-button font-special-text shape-rounded-corners-small">
                                <a class="toolbar-btn" href="/groups/new">Create new group</a>
                            </button>
                            <button class="qntm-button font-special-text shape-rounded-corners-small">
                                <a class="toolbar-btn" onclick="editGrp()">Edit</a>
                            </button>
                        </div>
                    </div>

                    <div id="addMembersSelect">
                        <div class="mt-4 membersSelect">
                            <select id="memberSelect" multiple class="custom-select">
                            </select>
                        </div>
                        <div class="mt-2">
                            <button class="qntm-button font-special-text shape-rounded-corners-small">
                                <a class="toolbar-btn" onclick="addToGrp()">Add to group</a>
                            </button>
                        </div>
                        <div id="btnMemberSelectHint" class="font-normal-text">
                            Select your members first.
                        </div>
                    </div>

                    <div class="mt-4">
                        <table id="membersTable" data-toolbar="#toolbar"
                               class="table table-bordered mb-2 membersTable">
                        </table>
                    </div>

                    <div id="toolbar">
                        <div id="toolbarAdmin">
                            <button id="appointAdminGrpBtn"
                                    class="qntm-button font-special-text shape-rounded-corners-small">Appoint as
                                admin
                            </button>
                            <button id="deleteFromGrpBtn"
                                    class="qntm-button font-special-text shape-rounded-corners-small">Remove from group
                            </button>
                            <button class="qntm-button font-special-text shape-rounded-corners-small">
                                <a class="toolbar-btn" onclick="leaveGrp()">Leave</a></button>
                        </div>
                        <div id="toolbarMember">
                            <button class="qntm-button font-special-text shape-rounded-corners-small">
                                <a class="toolbar-btn" onclick="leaveGrp()">Leave</a></button>
                        </div>
                    </div>
                    <div id="btnTableHint" class="font-normal-text">
                        Select your members first.
                    </div>
                </div>
            </div>
        </div>
    <% } else { %>
        <div id="noGrpsSection" class="flex-fill">
            <button class="qntm-button font-special-text shape-rounded-corners-small">
                <a class="toolbar-btn" href="/groups/new">Create your first group</a>
            </button>
        </div>
    <% } %>
<% } %>
<%- exposeLocalsToBrowser() %>
