<div class="flex-fill container mt-4 mb-4">
    <div class="border rounded mt-2 p-2">
        <!-- New working group -->
        <div class="container">
            <form action="/groups" method="post">
                <div class="">
                        <h3>New working group</h3>
                    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    <div class="mt-2">
                        <textarea class="form-control" placeholder="The name of your group." name="name" type="text" minlength="1" maxlength="80"
                            cols="30" rows="1" required></textarea>
                    </div>
                    <div class="mt-1 mb-1">
                        <textarea class="form-control" placeholder="The description of your group." name="description" type="text"
                            minlength="1" maxlength="512" cols="30" rows="5" required></textarea>
                    </div>
                    <div>
                        <button class="qntm-primary-button font-special-text shape-rounded-corners-small"
                            type="submit">Add</button>
                        <button class="qntm-primary-button font-special-text shape-rounded-corners-small" type="reset">
                            Reset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
