<div class="container flex-fill d-flex align-items-center justify-content-center mt-4 mb-4">
    <div class="border shape-rounded-corners-big mt-2 p-2">
        <!-- New working group -->
        <div class="container px-4 pb-4 pt-2">
            <form action="/groups" method="post">
                <div class="d-flex flex-column align-items-center">
                    <h3>New working group</h3>
                    <input type="hidden" name="_csrf" value="<%= _csrf; %>"/>
                    <div class="d-flex flex-column w-100 pt-2 pb-3">
                        <label for="name" class="font-extra-small-text font-weight-bold">Enter a name:</label>
                        <textarea class="form-control" placeholder="The name of your group." name="name" type="text"
                                  minlength="1" maxlength="80"
                                  cols="30" rows="1" required></textarea>
                    </div>
                    <div class="d-flex flex-column w-100 pt-2 pb-3">
                        <label for="description" class="font-extra-small-text font-weight-bold">Enter a
                            description:</label>
                        <textarea class="form-control" placeholder="The description of your group." name="description"
                                  type="text"
                                  minlength="1" maxlength="512" cols="30" rows="4" required></textarea>
                    </div>
                    <div>
                        <button class="qntm-primary-button font-special-text shape-rounded-corners-small"
                                type="submit">Add
                        </button>
                        <button class="qntm-primary-button font-special-text shape-rounded-corners-small" type="reset">
                            Reset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
