<div class="flex-fill container mt-4 mb-4">
    <div class="border rounded mt-2 p-2">
        <!-- Your working group -->
        <div class="container">
            <div class="row">
                <h1>Your working group.</h1>
            </div>
            <div class="">
                <%= message ? message : ''; %>
            </div>
            <% if(grp){ %>
                <div class="">
                    <div class="font-weight-bold">
                        Name:
                    </div>
                    <div class="form-group mt-1 mb-1">
                        <textarea readonly class="form-control grpTextDesc" rows="1"><%= grp.name; %></textarea>
                    </div>
                    <div class="font-weight-bold">
                        Description:
                    </div>
                    <div class="form-group mt-1 mb-1">
                        <textarea readonly class="form-control grpTextDesc" rows="2"><%= grp.description; %></textarea>
                    </div>
                </div>
            <% } else { %>
                <p>You have no working group.</p>
            <% } %>
            <a class="qntm-primary-button font-special-text shape-rounded-corners-small"
               href="/groups">All Groups</a>
        </div>
    </div>
</div>
