<div id="welcome">
  <account-notification-banner></account-notification-banner>
  <div class="container pt-5 pb-5">
    <h1 class="font-headline-text">Welcome to Quantum!</h1>
    <hr />
    <p>This is a page that only logged-in people can visit. Don't you feel special? Try clicking on a button below to do
      some things you can't do when you're logged out.</p>

    <section>
      <% if (req.me.isSuperAdmin) { %>
        <h2>Admin</h2>

        <% } else { %>
          <a class="btn btn-info" href="/account/profile">Update my email</a>
          <a class="btn btn-info" href="/textcontent">Show content</a>
          <% } %>
    </section>
  </div>
  <router-view></router-view>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>