<div class="container">
    <div class="m-4">
        <h1 class="text-4xl font-sans text-gray-500 font-light ml-2 mt-4">Show organisation.</h1>

        <div class="">
            <%= message ? message : "" %>
        </div>

        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Name</th>
                    </tr>
                  </thead>
                <tbody>
                    <% org.forEach(function(org){ %>
                        <tr class="">
                            <td class="">
                                <%= org.id %>
                            </td>
                            <td class="">
                                <%= org.name %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <a class="btn btn-info mb-4" href="/welcome">Welcome page</a>
        </div>

    </div>
</div>