<div class="container mt-4 mb-4">
    <div class="border rounded mt-2 p-2">
        <!-- New organisation -->
        <div class="container">
            <div class="row">
                <h3>New organisation</h3>
            </div>
            <form action="/organisation" method="post">
                <div>
                    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    <div class="">
                        <div class="">
                            <label for="">Name:</label>
                        </div>
                        <textarea name="name" type="text" maxlength="80" id="" cols="30" rows="1"></textarea>
                    </div>
                    <button class="qntm-primary-button font-special-text shape-rounded-corners-small"
                        type="submit">Hinzufügen</button>
                </div>
            </form>
        </div>
    </div>
</div>
