<div class="container mt-4 mb-4">
    <div class="border rounded mt-2 p-2">
        <!-- New organisation -->
        <div class="container">
            <div class="row">
                <h3>New organisation</h3>
            </div>
            <form action="/organisation" method="post" class="mt-2">
                <div>
                    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    <div>
                        <textarea name="name" placeholder="Name of the orgenisation" type="text" maxlength="80" id="" cols="30" rows="1"></textarea>
                    </div>
                    <div>
                        <button class="qntm-primary-button font-special-text shape-rounded-corners-small"
                            type="submit">Add</button>
                        <button class="qntm-primary-button font-special-text shape-rounded-corners-small" type="reset">
                            Reset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>