<div class="container mt-4 mb-4">
    <div class="border rounded mt-2 p-2">
        <!-- Your organisation -->
        <div class="container">
            <div class="row">
                <h1>Your organisation.</h1>
            </div>
            <div class="">
                <%= message ? message : "" %>
            </div>
            <div class="d-flex justify-content-between">
                    <div class="font-weight-bold">
                        Name:
                    </div>
                    <% if(org){ %>
                        <div class="">
                            <%= org.name %>
                        </div>
                        <% } else { %>
                            <p>You have no organisation.</p>
                            <% } %>
                            <a class="qntm-primary-button font-special-text shape-rounded-corners-small" href="/organisation">Organisation</a>
            </div>
        </div>
    </div>
