@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:ital,wght@0,400;0,700;1,700&family=Oswald&display=swap');

/* functional classes for padding */
.p-5-vertical {
    padding-top: 5px;
    padding-bottom: 5px;
}

.min-height {
  flex: 1 1 0;
}

/* Functional classes for fonts */

.font-special-text {
    font-family: "Oswald", sans-serif;
}
.font-headline-text {
    font-size: clamp(1.5rem, 2rem, 3rem);
    color: #173361;
}

.font-normal-text {
    font-size: clamp(1rem, 1.25vw, 1.1rem);
}

.font-small-text {
    font-size: clamp(0.75rem, 2.5vw, 1rem);
    letter-spacing: 1px;
}

.font-extra-small-text {
    font-size: 0.75rem;
}

.shape-rounded-corners-small {
    border-radius: 5px;
}

.shape-rounded-corners-big {
    border-radius: 23px;
}

.shape-drop-shadow {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.shape-drop-shadow-straight {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

/* Functional class for blue text color */
.blue-font {
    color: #173361;
}

.white-font {
    color: white;
}

.blue-background {
    background-image: linear-gradient(90deg, var(--color-dark-blue), var(--color-light-blue));
}

.grey-background {
  background-color: #F6F6F9;
}

.background-image {
  background-image: url("../images/blue-violet-hero.svg");
  background-repeat: no-repeat;
  background-position: 0% 60%;
  background-size: contain;
}

.background-image-right-side {
  background-image: url("../images/background_side_right.svg");
  background-repeat: no-repeat;
  background-position: 100% 60%;
  background-size: contain;
}

.background-image-left-side {
  background-image: url("../images/background_side_left.svg");
  background-repeat: no-repeat;
  background-position: -1% 60%;
  background-size: contain;
}

.display-flex {
    display: flex;
}

.display-inline-block {
    display: inline-block;
}

.display-inline {
    display: inline;
}
