@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:ital,wght@0,400;0,700;1,700&family=Oswald&display=swap');

:root {
  /* Variables with color palette */
  --color-grey: #4B4B4B;
  --color-light-blue: #029BDE;
  --color-dark-blue: #173361;
  --slalom-item-margin: clamp(30px, 1.1vw, 50px);
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  font-family: "Noto Sans", sans-serif;
  color: var(--color-grey);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 100px;
  padding-bottom: 20px;
  margin: 0;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: inherit;
}

/* makes images not draggable */
img, svg {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;

}

.qntm-button {
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s ease 0s;
  color: rgb(255, 255, 255);
  background-color: var(--color-dark-blue);
  letter-spacing: unset;
}

.qntm-button:hover {
  background-color: var(--color-light-blue);
  color: rgb(255, 255, 255);
}

#qntm-logo {
  display: block;
  height: auto;
  width: 130px;
  padding: 1em 15px 1em 0.5rem;
}

body {
  padding: 0;
  margin: 0;
}

.qntm-body-wrapper::after {
  content: "";
  z-index: -1;
  opacity: 0;
  will-change: opacity;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
  background-color: black;
}

.qntm-navbar-dropdown {
  transform: translate3d(-60px, 38px, 0px);
  overflow: auto;
  list-style: none;
  margin-block: 0px;
  padding-inline-start: 0px;
  padding: 0px;
}

/*
  top: calc(100% + 10px);
  right: 0px;
  transform-origin: right top;
  opacity: 1;
  position: absolute;
  pointer-events: initial;
*/

.qntm-navbar-dropdown-separator-line {
  margin: auto;
  border-bottom: 1px solid lightgray;
  width: 100%;
}

.qntm-navbar-dropdown-head {
  padding: 24px 10px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  background-color: #173361;
  color: rgb(255, 255, 255);
  max-width: 100%;
}

.qntm-navbar-dropdown-head-h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  margin: 0px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.qntm-navbar-sticky {
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100%;

  --nav-height-big: 88px;
  --nav-height-small: 56px;
}

.qntm-navbar {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;

  color: white;
}

.qntm-navbar-container {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  background-color: #173361;
  -webkit-box-align: center;
  align-items: center;
  align-content: center;
  border-style: solid;
  border-color: #4B4B4B;
  border-image: initial;
  border-width: 0 0 1px;
  font-weight: 300;
  height: var(--nav-height-big);
  padding-left: 1em;
}

.qntm-navbar-link-container {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}

.qntm-navbar-left-links {
  margin: 0 0 0 16px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: var(--nav-height-big);
  list-style: none;
  padding: 0;
  opacity: 1;
  pointer-events: initial;
  will-change: opacity;
  transition: opacity 250ms ease 0s;
  position: relative;
}

.qntm-navbar-list-item {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.qntm-navbar-list-item .qntm-navbar-link {
  padding: 1em;
  margin: 0.5em;
}

.qntm-navbar-right-links {
  padding-right: 36px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.qntm-navbar-right-links div .qntm-navbar-link {
  --right-space: 36px;
  padding: 1.5em var(--right-space) 1.5em 1.5em;
  margin-right: calc(var(--right-space) - 16px);
}

.qntm-navbar-right-links div .qntm-navbar-link:hover {
  color: var(--color-dark-blue);
}

.qntm-navbar-link {
  text-decoration: none !important;
  color: white;
}

.qntm-navbar-link:hover {
  color: var(--color-light-blue);
}

.qntm-nav-burger {
  display: none;
}

.qntm-nav-burger div {
  width: 25px;
  height: 2.5px;
  border-radius: 1px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

.navbar-burger-toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.navbar-burger-toggle .line2 {
  opacity: 0;
}

.navbar-burger-toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.qntm-menu-wrapper {
  display: none;
  min-width: 0;
  min-height: calc(100% - var(--nav-height-small));
  height: calc(100vh - var(--nav-height-small));
  background-color: var(--color-dark-blue);
  width: 350px;
  max-width: 99vw;
  position: absolute;
  top: var(--nav-height-small);
  left: 0;
  will-change: left;
  z-index: 1;
  flex-direction: column;
  overflow-y: auto;
  border-style: solid;
  border-color: var(--color-grey);
  border-image: initial;
  border-width: 0 1px 0 0;
  transform: translateX(-100%);
  transition: transform 300ms ease-in;
}

.menu-active {
  transform: translateX(0%);
}

.qntm-menu-items {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.qntm-menu-separator {
  box-sizing: border-box;
  min-width: 0;
  margin: 2px 0;
  border-width: 0 0 1px;
  border-top-style: initial;
  border-right-style: initial;
  border-left-style: initial;
  border-color: initial;
  border-image: initial;
  border-bottom-style: solid;
  color: rgb(61, 79, 88);
}

.qntm-menu-button-section {
  display: flex;
  padding: 1.5em 1.5em 104px;
  align-content: center;
  align-items: center;
}

.qntm-navbar-button {
  background-color: white;
  color: var(--color-dark-blue);
}

.qntm-navbar-button:hover {
  background-color: var(--color-dark-blue);
  color: white;
}

/* style for eye catcher section */
.qntm-eye-catcher-section {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.qntm-eye-catcher-headline {
  text-align: center;
  padding: 20px 0;
  margin: auto;
  max-width: 500px;
}

.qntm-eye-catcher-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 0;
  margin: auto;
  max-width: 700px;
  flex: 1;
}

.qntm-eye-catcher-button {
  text-align: center;
  padding: 0;
  margin: 3px auto 0;
  max-width: 370px;
}

.qntm-eye-catcher-content-small {
  text-align: center;
  padding: 10px 0 0;
  margin: auto auto 0;
  max-width: 370px;
}

.qntm-eye-catcher-img {
  max-width: 100%;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.qntm-eye-catcher-forms input {
  border-radius: 5px;
  border: 1px solid #a1a1a1;
  min-width: 300px;
  padding: 12px;
  margin: 8px;
}

/* style for terms of use page */
.qntm-terms-of-use-text-container {
  justify-content: center;
  text-align: left;
  align-items: center;
  padding: 10px 20px;
  margin: auto;
  max-width: 700px;
  flex: 1;
}

.qntm-terms-of-use-text-container h4 {
  padding-top: 20px;
}


.qntm-feature-intro-section {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.qntm-feature-intro-title-container {
  width: min(100%, 1200px);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.qntm-feature-intro-title-width-container {
  margin: 0 auto;
  max-width: 450px;
}

.qntm-feature-intro-headline-teaser {
  display: block;
  text-align: center;
}

.qntm-feature-intro-headline {
  padding-bottom: 20px;
  text-align: center;
  padding-top: 10px;
  margin: auto;
  max-width: 500px;
}

.qntm-feature-intro-content {
  text-align: center;
  padding: 10px 0;
  margin: auto;
}

.qntm-slalom-section {
  max-width: 1025px;
  padding: 80px 0;
  margin: 30px auto;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  display: flex;

  --slalom-item-margin: clamp(30px, 1.1vw, 50px);
}

.qntm-section-reverse {
}

.qntm-slalom-graphic {
  position: relative;
  width: auto;
  display: flex;
  justify-content: center;
  order: 1;
}

.qntm-slalom-reverse {
  order: 0;
}

.qntm-slalom-graphic img {
  max-width: 80%;
  width: 370px;
  height: auto;
  float: right;
  margin: 0 var(--slalom-item-margin);
}

.qntm-slalom-reverse img {
  float: left;
  margin: 0 var(--slalom-item-margin);
}

.qntm-slalom-text {
  width: 100%;
  flex: 1;
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: clamp(432px, 1vw, 560px);
  margin: 0 var(--slalom-item-margin);
}

.qntm-slalom-text-reverse {

}

.qntm-slalom-text-title {
  margin-top: 0;
}

.qntm-slalom-text-title h3 {
  display: inline;
}

.qntm-slalom-text-descripion {
  margin-top: 16px;
}

.qntm-why-section {
  display: flex;
  justify-content: center;
}

.qntm-why-container {
  width: clamp(20ch, 90%, 160ch);
  padding: clamp(20px, 40px, 80px);
  margin: 0 20px;
}

.qntm-why-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: white;
}

.qntm-why-parent-text {
  display: block;
  float: left;
  width: 70%;
  padding: 10px;
}

.qntm-why-title-question {
  margin-bottom: 0;
}

.qntm-why-title {
  margin-bottom: 10px;
  margin-top: 10px;
}

.qntm-why-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
}

.qntm-why-box {
  flex: 0 1 320px;
  padding: 0 10px;
  vertical-align: top;
}

.qntm-getting-started-container {
  padding: 35px 20px;
  margin: auto;
  position: relative;
  max-width: 1160px;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
}

.qntm-getting-started-text-container {
  margin-right: 40px;
  flex: 1;
}

.qntm-getting-started-title {
  margin: 0;
  line-height: 40px;
}

/* Pricing page */
.qntm-pricing-section {
  padding: 40px 0;
  width: 100%;
}

.qntm-pricing-container {
  justify-content: space-around;
  margin: auto;
  max-width: 1100px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}

.qntm-pricing-box {
  display: flex;
  flex-direction: column;
  order: 0;
  margin: 10px;
  background-color: rgb(255, 255, 255);
}

.qntm-pricing-content {
  max-width: 300px;
  margin: 20px;
}

.qntm-pricing-content p {
  margin: 16px 0;
}

.qntm-pricing-title {
  margin: 7px 0;
}

.qntm-pricing-price-tag {
  margin-top: 0;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.qntm-pricing-separator-line {
  border-bottom: 1px solid lightgray;
  padding-top: 30px;
}

.qntm-pricing-list {
  padding-top: 10px;
  padding-inline-start: 30px;
}

.qntm-pricing-list-item {
  padding-top: 10px;
}

/* signup page */
.qntm-signup-checkbox-item {
  margin-top: 0.35rem;
}

/* about us page */
.qntm-about-us-eye-catcher-section {
  padding: 25px;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.qntm-statement-item-section {
  max-width: 1025px;
  padding: 0 0;
  margin: 30px auto;
  align-items: flex-start;
  justify-content: start;
  flex-wrap: wrap;
  display: flex;
}

.qntm-statement-item-section-reverse {
  align-items: flex-end;
  justify-content: end;
}


.qntm-statement-item-text {
  width: 100%;
  flex: 1;
  display: block;
  justify-content: left;
  align-items: flex-start;
  align-content: center;
  max-width: clamp(432px, 1vw, 660px);
  margin: 0 var(--slalom-item-margin);
}

.qntm-statement-item-text-reverse {
  margin-right: var(--slalom-item-margin);
  margin-left: clamp(50px, 1.1vw, 82px);
}

.qntm-statement-item-text-description {
  margin-top: 10px;
}

/* about us/meet the team section */
.qntm-team-section {
  display: flex;
  justify-content: center;
}

.qntm-team-container {
  width: clamp(20ch, 90%, 160ch);
  padding: clamp(20px, 50px, 80px) clamp(20px, 40px, 40px) clamp(20px, 50px, 80px);
  margin: 0 20px;
}

.qntm-team-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: white;
}

.qntm-team-parent-text {
  display: block;
  float: left;
  width: 70%;
  padding: 0 10px;
}

.qntm-team-title {
  margin-bottom: 10px;
  margin-top: 10px;
}

.qntm-team-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: white;
  padding-top: 20px;
}

.qntm-team-box {
  flex: 0 1 320px;
  padding: 0 10px;
}

.qntm-team-box h4 {
  padding-top: 20px;
}

.qntm-team-graphic {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
}

.qntm-team-graphic img {
  max-width: 80%;
  width: 370px;
  height: auto;
  float: left;
  margin: 0 var(--slalom-item-margin);
}

.qntm-team-graphic figure figcaption {
  padding-top: 20px;
}

/* about page */
.qntm-team-section {
  padding-top: 0;
}

.qntm-team-container {
  width: clamp(20ch, 80%, 160ch);
  padding: clamp(20px, 10px, 80px);
}

/* separators */
.qntm-separator-line {
  margin: auto;
  border-bottom: 1px solid lightgray;
  width: calc(100% - 40px);
}

.qntm-separator-line-700px {
  margin: auto;
  border-bottom: 1px solid lightgray;
  width: calc(100% - 40px);
  max-width: 700px;
  flex: 1;
}

.qntm-separator-line-short {
  margin: auto auto 6rem;
  border-bottom: 1px solid lightgray;
  width: 50%;
}

.qntm-separator-line-about-us {
  margin: 6rem auto 6rem;
  border-bottom: 1px solid lightgray;
  width: 50%;
}

.qntm-section-footer {
  place-items: center;
}

.qntm-footer-link-container {
  display: flex;
  position: relative;
  margin: auto;
  justify-content: center;
  padding: 35px 20px;
}

.qntm-link-footer {
  text-decoration: none;
  color: var(--color-dark-blue);
  padding: 1em;
  margin: 0.5em;
  white-space: nowrap
}

footer a:hover {
  color: var(--color-light-blue);
}

.qntm-footer-copyright-container {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

/* Screen resolution for tablets */
@media screen and (max-width: 1078px) {

  /* Smaller navbar for smaller resolutions*/
  .qntm-navbar-container {
    height: var(--nav-height-small);
  }

  /* Displays the burger menu */
  .qntm-nav-burger {
    display: block;
    direction: rtl;
    cursor: pointer;
    padding: 16px 2rem 16px 2rem;
  }

  /* Makes logo smaller so that there is no overflow */
  #qntm-logo {
    width: 100px;
  }

  /* Removes all links from the navbar at the screen size */
  .qntm-navbar-left-links, .qntm-navbar-right-links {
    display: none;
  }

  /* So that burger in navbar is moved to the right end */
  .qntm-navbar-link-container {
    justify-content: flex-end;
  }

  /* Default is display: none, shows button when screen size is reached*/
  .qntm-menu-wrapper {
    display: flex;
    overflow: hidden;
  }

  /* Increases font size for links when the menu is open */
  .qntm-navbar-list-item {
    line-height: 1em;
    flex: 1 1 0;
    text-align: left;
    padding: 1.5em 0;
  }

  .qntm-navbar-list-item .qntm-navbar-link {
    --vertical-space: 0.85em;

    padding: var(--vertical-space) 3em var(--vertical-space) 1.5em;
    margin: calc(1.5em - var(--vertical-space)) 0;
    font-size: 18px;
    min-width: 200px;
  }


  .qntm-menu-button-section div {
    display: inline-block;
    flex: 1 1 0;
    text-align: center;
  }

  .qntm-menu-button-section div .qntm-navbar-link {
    --vertical-space: 0.85em;

    padding: var(--vertical-space) 3em var(--vertical-space) 1.5em;
    margin: calc(1.5em - var(--vertical-space)) 0;
  }

  .qntm-menu-button-section a {
    font-size: 18px;
  }

  /* adjusts container width so that only pricing cards are displayed beautifully */
  .qntm-pricing-container {
    width: 75%;
  }

  /* changes order so that the middle container is displayed first */
  .qntm-pricing-middle-box {
    order: -1;
  }

  /* increases width so that title uses full space */
  .qntm-why-parent-text {
    width: 100%;
  }

  /* changes flex behavior of the why section for better responsiveness */
  .qntm-why-box-container {
    flex-direction: column;
  }

  /* changes flex behavior of the why section for better responsiveness */
  .qntm-why-box {
    flex: 0 1 0;
    margin: var(--slalom-item-margin) 0;
  }
}

@media screen and (max-width: 850px) {
  .qntm-pricing-box {
    margin: 10px 25px;
  }

  /* centers items & text */
  .qntm-slalom-section {
    justify-content: center;
    text-align: center;
  }

  /* switches position of picture with feature description */
  .qntm-slalom-reverse {
    order: 1;
  }

  /* increases bottom margin for a better look when switched */
  .qntm-slalom-text {
    margin-bottom: var(--slalom-item-margin);
  }

  /* displays the links in the footer in column */
  .qntm-footer-link-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    font-size: 18px;
  }

  .qntm-footer-link-container .qntm-link-footer {
    padding: 0.75em;
    margin: 0;
  }
}

/* Media query for small tablets / big smartphones */
@media screen and (max-width: 621px) {
  section.qntm-feature-intro-section.background-image-left-side {
    background-image: none;
  }

  .qntm-statement-item-section, .qntm-getting-started-section {
    justify-content: center;
    text-align: center;
  }

  /* increasing width to 100% again for a better look */
  .qntm-pricing-container {
    width: 100%;
  }

  /* changes flex behavior for small display size */
  .qntm-getting-started-container {
    flex-direction: column;
  }

  /* increasing bottom margin when the button layout was moved */
  .qntm-getting-started-text-container {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.qntm-mobile-menu {
  line-height: 1em;
  flex: 1 1 0;
  text-align: center;
  padding: 1.5em 0;
  display: inline-block;
  position: relative;
  z-index: 1;
}

