@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:ital,wght@0,400;0,700;1,700&family=Oswald&display=swap');

/* functional classes for padding */
.p-5-vertical {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Functional classes for fonts */

.font-special-text {
  font-family: "Oswald", sans-serif;
}

.font-headline-text {
  font-size: clamp(1.5rem, 2rem, 3rem);
  color: #173361;
}

.font-normal-text {
  font-size: clamp(1rem, 1.25vw, 1.1rem);
}

.font-small-text {
  font-size: clamp(0.75rem, 2.5vw, 1rem);
  letter-spacing: 1px;
}

.font-extra-small-text {
  font-size: 0.75rem;
}

.shape-rounded-corners-small {
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.shape-rounded-corners-big {
  border-radius: 23px;
  -webkit-border-radius: 23px;
}

.shape-drop-shadow {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.shape-drop-shadow-straight {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

/* Functional class for blue text color */
.blue-font {
  color: #173361 !important;
}

.grey-font {
  color: var(--color-dark-grey) !important;
}

.blue-background {
  background-image: linear-gradient(90deg, var(--color-dark-blue), var(--color-light-blue));
}

.grey-background {
  background-color: var(--color-light-grey) !important;
}

.background-image {
  background-image: url("../images/blue-violet-hero.svg");
  background-repeat: no-repeat;
  background-position: 0 60%;
  background-size: contain;

}

.background-image-right-side {
  background-image: url("../images/background_side_right.svg");
  background-repeat: no-repeat;
  background-position: 100% 60%;
  background-size: contain;
}

.background-image-left-side {
  background-image: url("../images/background_side_left.svg");
  background-repeat: no-repeat;
  background-position: -1% 60%;
  background-size: contain;
}

:root {
  /* Variables with color palette */
  --color-dark-grey: #4B4B4B;
  --color-medium-grey: #C4C4C4;
  --color-light-grey: #F6F6F9;
  --color-white: #ffffff;
  --color-grey: #4B4B4B;
  --color-light-blue: #029BDE;
  --color-dark-blue: #173361;
  --color-transparent-blue: #E8F0FE;
  --slalom-item-margin: clamp(30px, 1.1vw, 50px);
}

* {
  color: var(--color-dark-grey);
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  font-family: "Noto Sans", sans-serif;
  color: var(--color-dark-grey);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans", sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: inherit;
}

/* makes images not draggable */
img, svg {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;

}

textarea {
  resize: none;
  border-radius: 5px;
  padding: 5px 8px;
  font-family: "Noto Sans", sans-serif;
  border-color: var(--color-medium-grey);
  width: 100%;
}

textarea:focus, input:focus {
  border-color: var(--color-medium-grey) !important;
  background-color: white;
}

textarea:hover, input:hover {
  border-color: var(--color-medium-grey) !important;
  background-color: #fcfcfc;
}

button {
  border: none !important;
}

[v-cloak] {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-light-grey);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-medium-grey);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark-grey);
}

.material-switch > input[type="checkbox"] {
  display: none;
}

.material-switch > label {
  cursor: pointer;
  height: 0;
  position: relative;
  width: 40px;
}

.material-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}

.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
  background: lightsalmon;
  opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
  background: lightsalmon;
  left: 20px;
}

.qntm-primary-button {
  padding: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  text-align: center;
  width: calc(2 * 32px + 47px);
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s ease 0s;
  color: rgb(255, 255, 255);
  background-color: var(--color-dark-blue);
  letter-spacing: unset;
}

.qntm-primary-button:hover {
  background-color: var(--color-light-blue);
  color: rgb(255, 255, 255);
}

/* TODO delete*/
.qntm-primary-button:focus {

}

.qntm-primary-button:active {

}

.qntm-secondary-button {
  background-color: white;
  border: 1px var(--color-dark-grey) !important;
  color: var(--color-dark-blue);
}

.qntm-secondary-button:hover {
  background-color: var(--color-transparent-blue);
  color: var(--color-dark-blue);
}

.qntm-secondary-button:focus {
  box-shadow: 0 0 0 0.2rem rgb(var(--color-dark-grey) / 50%);
}

.qntm-secondary-button:active {
  background-color: var(--color-dark-grey);
  border-color: var(--color-medium-grey);
}

#qntm-logo {
  width: 130px;
  padding: 1em 15px 1em 0.5rem;
}

.qntm-body-wrapper::after {
  content: "";
  z-index: -1;
  opacity: 0;
  will-change: opacity;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
  background-color: black;
}

.qntm-navbar-dropdown {
  transform: translate(-60px, 38px);
  overflow: auto;
  list-style: none;
  margin-block: 0;
  padding-inline-start: 0;
  padding: 0;
}

.qntm-navbar-dropdown-separator-line {
  border-bottom: 1px solid lightgray;
}

.qntm-navbar-dropdown-head {
  padding: 24px 10px;
  background-color: var(--color-dark-blue);
}

.qntm-navbar-dropdown-head-h3 {
  font-size: 16px;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.qntm-navbar-sticky {
  top: 0;
  z-index: 9999;

  --nav-height-big: 88px;
  --nav-height-small: 56px;
}

.qntm-navbar {
  top: 0;
  left: 0;
  z-index: 1;
}

.qntm-navbar-container {
  box-sizing: border-box;
  min-width: 0;
  background-color: var(--color-dark-blue);
  border-style: solid;
  border-color: var(--color-dark-grey);
  border-image: initial;
  border-width: 0 0 1px;
  font-weight: 300;
  height: var(--nav-height-big);
  padding-left: 1em;
}

.qntm-navbar-link-container {
  box-sizing: border-box;
  min-width: 0;
}

.qntm-navbar-left-links {
  margin: 0 0 0 16px;
  height: var(--nav-height-big);
  list-style: none;
  padding: 0;
  opacity: 1;
  pointer-events: initial;
  will-change: opacity;
  transition: opacity 250ms ease 0s;
}

.qntm-navbar-list-item {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.qntm-navbar-list-item .qntm-navbar-link {
  padding: 1em;
  margin: 0.5em;
}

.qntm-navbar-right-links {
  padding-right: 36px;
}

.qntm-navbar-right-links div .qntm-navbar-link {
  --right-space: 36px;
  padding: 1.5em var(--right-space) 1.5em 1.5em;
  margin-right: calc(var(--right-space) - 16px);
}

.qntm-navbar-right-links div .qntm-navbar-link:hover {
  color: var(--color-dark-blue);
}

.qntm-navbar-link {
  text-decoration: none !important;
  color: white;
  cursor: pointer;
}

.qntm-navbar-link:hover {
  color: var(--color-light-blue) !important;
}

.qntm-nav-burger div {
  width: 25px;
  height: 2.5px;
  border-radius: 1px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

.navbar-burger-toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.navbar-burger-toggle .line2 {
  opacity: 0;
}

.navbar-burger-toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.qntm-menu-wrapper {
  min-width: 0;
  min-height: calc(100% - var(--nav-height-small));
  height: calc(100vh - var(--nav-height-small));
  background-color: var(--color-dark-blue);
  width: 350px;
  max-width: 99vw;
  top: var(--nav-height-small);
  left: 0;
  will-change: left;
  z-index: 1;
  flex-direction: column;
  overflow-y: auto;
  border-style: solid;
  border-color: var(--color-dark-grey);
  border-image: initial;
  border-width: 0 1px 0 0;
  transform: translateX(-100%);
  transition: transform 300ms ease-in;
}

.menu-active {
  transform: translateX(0%);
}

.qntm-menu-separator {
  box-sizing: border-box;
  min-width: 0;
  margin: 2px 0;
  border-width: 0 0 1px;
  border-top-style: initial;
  border-right-style: initial;
  border-left-style: initial;
  border-color: initial;
  border-image: initial;
  border-bottom-style: solid;
  color: var(--color-dark-blue);
}

.qntm-menu-button-section {
  padding: 1.5em 1.5em 104px;
}

.qntm-app-navbar-container {
  --height-nav: 88px;
  --height-footer: 183px;
  --height-app-footer: 51px;

  max-width: 20%;
  overflow: auto;
  max-height: calc(100vh - var(--height-nav) - var(--height-app-footer));
}

.qntm-app-navbar-link-container {
  width: 20%;
}

.qntm-app-navbar-links {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  height: var(--nav-height-big);
  list-style: none;
  opacity: 1;
  pointer-events: initial;
  will-change: opacity;
  transition: opacity 250ms ease 0s;
  position: relative;
}

.qntm-app-navbar-list-item {
  line-height: 1em;
  flex: 1 1 0;
  text-align: left;
  padding: 0.75em 0;

}

.app-active-nav-link {
  background-color: var(--color-transparent-blue);
}

.qntm-app-navbar-list-item + .qntm-navbar-link {
  text-align: left;
}

#app-search-button-icon {
  width: 34px;
}

#app-copy-button-icon {
  fill: var(--color-dark-grey);
  width: 0.75em;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  user-select: none;
}

#app-new-button-icon {
  height: 36px;
  width: 21px;
}

.qntm-icon-button {
  fill: var(--color-dark-grey);
  user-select: none;
  max-width: 34px;
}

.editor-status-saved {
  background-color: rgb(239, 250, 239);
}

.editor-status-unpublished {
  background-color: rgb(250, 239, 239);
}

.editor-status-old {
  background-color: var(--color-transparent-blue);
}

.app-info-column {
  max-width: 287px;
}

.app-info-text {
  max-width: 256px;
  height: 24px;
}

.app-tag-section {
  height: 90px;
  overflow-y: auto;
}

.app-tag-container, #app-tag-add-container {
  height: 24px;
}

.app-tag-container {
  --tag-max-width: 20ch;
  max-width: var(--tag-max-width);
  transition: max-width 350ms ease-in-out;
}

.app-tag-container:hover > .app-tag-close-button:after {
  content: "×";
  padding-inline: 6px;
  animation: fadeIn 350ms;
  transition: height 350ms;
}


.app-tag-container:hover {
  padding-right: 2px !important;
  max-width: calc(var(--tag-max-width) + 10px);
}

.app-tag-container:active {
  margin-top: 4px !important;
  height: 22px;
}

.app-tag-close-button:hover, #app-tag-add-container:hover {
  background-color: var(--color-transparent-blue);
}

#app-tag-add-container {
  transition: width 350ms ease-in-out;
}

.app-dropdown {
  position: relative;
  display: inline-block;
}

.app-dropdown-content {
  width: 223px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 170px;
  overflow-y: auto;
  overflow-x: hidden;
}

.app-dropdown-item {
  width: 223px;
  padding: 12px 16px;
  text-decoration: none;
}

.app-dropdown-item:hover {
  background-color: var(--color-transparent-blue) !important;
}

#entry_endpoint_container, #entry_endpoint, #app-search-button-icon, #app-new-button-icon, #app-dropdown-button {
  cursor: pointer;
}

#entry_endpoint_container {
  width: 223px;
  height: 34px;
}

#entry_endpoint_container > span {
  width: 180px;
}

/* style for eye catcher section */
.qntm-eye-catcher-section {
  padding: 25px;
}

.qntm-eye-catcher-headline {
  padding: 20px 0;
  max-width: 500px;
}

.qntm-eye-catcher-content {
  padding: 10px 0;
}

.qntm-eye-catcher-content-small {
  padding: 10px 0 0;
  max-width: 370px;
}

.qntm-eye-catcher-img {
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.qntm-eye-catcher-forms input {
  border-radius: 5px;
  border: 1px solid var(--color-medium-grey);
  min-width: 300px;
  padding: 12px;
  margin: 8px;
}

/* style for terms of use page */
.qntm-terms-of-use-text-container {
  justify-content: center;
  text-align: left;
  align-items: center;
  padding: 10px 20px;
  margin: auto;
  max-width: 700px;
  flex: 1;
}

.qntm-terms-of-use-text-container h4 {
  padding-top: 20px;
}


.qntm-feature-intro-section {
  padding: 25px;
}

.qntm-feature-intro-title-container {
  width: min(100%, 1200px);
}

.qntm-small-width-container {
  max-width: 450px;
}

.qntm-width-container {
  max-width: 700px;
}

.qntm-feature-intro-content {
  padding: 10px 0;
}

.qntm-slalom-section {
  max-width: 1025px;
  padding: 80px 0;
  margin: 30px auto;

  --slalom-item-margin: clamp(30px, 1.1vw, 50px);
}

.qntm-slalom-graphic {
  order: 1;
}

.qntm-slalom-reverse {
  order: 0;
}

.qntm-slalom-graphic img {
  max-width: 80%;
  width: 370px;
  height: auto;
  float: right;
  margin: 0 var(--slalom-item-margin);
}

.qntm-slalom-reverse img {
  float: left;
  margin: 0 var(--slalom-item-margin);
}

.qntm-slalom-text {
  max-width: clamp(432px, 1vw, 560px);
  margin: 0 var(--slalom-item-margin);
}

.qntm-slalom-text-title {
  margin-top: 0;
}

.qntm-slalom-text-title h3 {
  display: inline;
}

.qntm-slalom-text-descripion {
  margin-top: 16px;
}

.qntm-why-container {
  width: clamp(20ch, 90%, 160ch);
  padding: clamp(20px, 40px, 80px);
  margin-inline: 20px;
}

.qntm-why-parent-text {
  width: 70%;
  padding: 10px;
}

.qntm-why-title-question {
  margin-bottom: 0;
}

.qntm-why-title {
  margin-bottom: 10px;
  margin-top: 10px;
}


.qntm-why-box {
  flex: 0 1 320px;
  padding: 0 10px;
  vertical-align: top;
}

.qntm-getting-started-container {
  padding: 35px 20px;
  max-width: 1160px;
}

.qntm-getting-started-text-container {
  margin-right: 40px;
}

.qntm-getting-started-title {
  line-height: 40px;
}

/* Pricing page */
.qntm-pricing-section {
  padding: 40px 0;
}

.qntm-pricing-container {
  max-width: 1100px;
}

.qntm-pricing-box {
  order: 0;
  margin: 10px;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.97) 100%);
}

.qntm-pricing-content {
  max-width: 300px;
  margin: 20px;
}

.qntm-pricing-content p {
  margin-block: 16px;
}

.qntm-pricing-title {
  margin-block: 7px;
}

.qntm-pricing-price-tag {
  margin-block: 0 20px;
  letter-spacing: 1px;
}

.qntm-pricing-separator-line {
  border-bottom: 1px solid var(--color-light-grey);
  padding-top: 30px;
}

.qntm-pricing-list {
  padding-top: 10px;
  padding-inline-start: 30px;
}

.qntm-pricing-list-item {
  padding-top: 10px;
}

/* signup page */
.qntm-checkbox {
  margin-top: 0.45rem;
}

.qntm-statement-item-section {
  max-width: 1025px;
  margin: 30px auto;
}

.qntm-statement-item-text {
  max-width: clamp(432px, 1vw, 660px);
  margin: 0 var(--slalom-item-margin);
}

.qntm-statement-item-text-reverse {
  margin-right: var(--slalom-item-margin);
  margin-left: clamp(50px, 1.1vw, 82px);
}

.qntm-statement-item-text-description {
  margin-top: 10px;
}

/* about us/meet the team section */
.qntm-team-title {
  margin-bottom: 10px;
  margin-top: 10px;
}

.qntm-team-box {
  flex: 0 1 320px;
  padding: 0 10px;
}

.qntm-team-box h4 {
  padding-top: 20px;
}

/* about page */

/* separators */
.qntm-separator-line {
  border-bottom: 1px solid var(--color-light-grey);
  width: calc(100% - 40px);
}

.qntm-separator-line-700px {
  margin: auto;
  border-bottom: 1px solid var(--color-light-grey);
  width: calc(100% - 40px);
  max-width: 700px;
  flex: 1;
}

.qntm-separator-line-short {
  border-bottom: 1px solid lightgray;
}

.qntm-separator-line-about-us {
  margin: auto;
  border-bottom: 1px solid var(--color-light-grey);
  width: 50%;
}

.qntm-section-footer {
  place-items: center;
}

.qntm-footer-link-container {
  padding: 35px 20px;
}

.qntm-link-footer {
  text-decoration: none;
  color: var(--color-dark-blue);
  padding: 1em;
  margin: 0.5em;
  white-space: nowrap
}

footer a:hover {
  color: var(--color-light-blue);
}

.qntm-footer-copyright-container {
  justify-content: space-evenly;
}

#app-no-grps-section {
  height: 492px;
}

/* Screen resolution for extremely large displays */
@media screen and (min-width: 2340px) {
  /* Changes to 'cover' at the breakpoint since 'background-size: contain' is broken for size >= 2340px */
  .background-image {
    background-size: cover;
  }
}

/* Screen resolution for tablets */
@media screen and (max-width: 1078px) {

  /* Smaller navbar for smaller resolutions*/
  .qntm-navbar-container {
    height: var(--nav-height-small);
  }

  /* Displays the burger menu */
  .qntm-nav-burger {
    display: block !important;
    direction: rtl;
    cursor: pointer;
    padding: 16px 2rem 16px 2rem;
  }

  /* Makes logo smaller so that there is no overflow */
  #qntm-logo {
    width: 100px;
  }

  /* Removes all links from the navbar at the screen size */
  .qntm-navbar-left-links, .qntm-navbar-right-links {
    display: none !important;
  }

  /* So that burger in navbar is moved to the right end */
  .qntm-navbar-link-container {
    justify-content: flex-end !important;
  }

  /* Default is display: none, shows button when screen size is reached*/
  .qntm-menu-wrapper {
    display: flex !important;
  }

  /* Increases font size for links when the menu is open */
  .qntm-navbar-list-item {
    line-height: 1em;
    flex: 1 1 0;
    text-align: left !important;
    padding: 1.5em 0;
  }

  .qntm-navbar-list-item .qntm-navbar-link {
    --vertical-space: 0.85em;

    padding: var(--vertical-space) 3em var(--vertical-space) 1.5em;
    margin: calc(1.5em - var(--vertical-space)) 0;
    font-size: 18px;
    min-width: 200px;
  }


  .qntm-menu-button-section div {
    display: inline-block !important;
    flex: 1 1 0 !important;
    text-align: center !important;
  }

  .qntm-menu-button-section div .qntm-navbar-link {
    --vertical-space: 0.85em;

    padding: var(--vertical-space) 3em var(--vertical-space) 1.5em;
    margin: calc(1.5em - var(--vertical-space)) 0;
  }

  .qntm-menu-button-section a {
    font-size: 18px;
  }

  /* adjusts container width so that only pricing cards are displayed beautifully */
  .qntm-pricing-container {
    width: 75%;
  }

  /* changes order so that the middle container is displayed first */
  .qntm-pricing-middle-box {
    order: -1;
  }

  /* increases width so that title uses full space */
  .qntm-why-parent-text {
    width: 100%;
  }

  /* changes flex behavior of the why section for better responsiveness */
  .qntm-why-box-container {
    flex-direction: column !important;
  }

  /* changes flex behavior of the why section for better responsiveness */
  .qntm-why-box {
    flex: 0 1 0 !important;
    margin: var(--slalom-item-margin) 0;
  }
}

@media screen and (max-width: 850px) {
  .qntm-pricing-box {
    margin: 10px 25px;
  }

  .qntm-app-navbar-container {
    max-width: 100%;
    max-height: 100%;
    order: 1;
  }

  /* centers items & text */
  .qntm-slalom-section {
    justify-content: center !important;
    text-align: center !important;
  }

  /* switches position of picture with feature description */
  .qntm-slalom-reverse {
    order: 1;
  }

  /* increases bottom margin for a better look when switched */
  .qntm-slalom-text {
    margin-bottom: var(--slalom-item-margin);
  }

  /* displays the links in the footer in column */
  .qntm-footer-link-container {
    display: flex !important;
    flex-direction: column !important;
    position: relative !important;
    margin: auto !important;
    justify-content: center !important;
    align-items: flex-start !important;
    align-content: center !important;
    font-size: 18px;
  }

  .qntm-footer-link-container .qntm-link-footer {
    padding: 0.75em;
    margin: 0;
  }

  #app-title {
    display: inline-block !important;
    max-width: 70%;
    text-overflow: ellipsis;
    font-size: 2rem;
  }

  #app-no-grps-section {
    height: fit-content;
  }
}

/* Media query for small tablets / big smartphones */
@media screen and (max-width: 621px) {
  .qntm-eye-catcher-section.background-image {
    background-position-y: 70%;
  }

  section.qntm-feature-intro-section.background-image-left-side {
    background-image: none;
  }

  .qntm-statement-item-section, .qntm-getting-started-section {
    justify-content: center;
    text-align: center;
  }

  /* increasing width to 100% again for a better look */
  .qntm-pricing-container {
    width: 100%;
  }

  /* changes flex behavior for small display size */
  .qntm-getting-started-container {
    flex-direction: column !important;
  }

  /* increasing bottom margin when the button layout was moved */
  .qntm-getting-started-text-container {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.qntm-mobile-menu {
  line-height: 1em;
  flex: 1 1 0;
  text-align: center;
  padding: 1.5em 0;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.qntm-org-left {
  min-width: 250px;
  min-height: calc(100% - var(--nav-height-small));
  height: calc(100vh - var(--nav-height-small));
}

/* groups/index table for group members*/
.membersTable {
  width: 100%;
  border-collapse: collapse;
}

.membersTable tr:hover {
  background: #029BDE;
}

.highlight_row {
  background: #029BDE;
}

.toolbar-btn {
  color: var(--color-dark-grey);
}

.grpTextDescKK {
  background-color: var(--color-white);
}

.form-control[readonly] {
  background-color: white !important;
}

/* checkbox column in table has content width */
.qntm-tr td:last-child {
  width: 1%;
  white-space: nowrap;
}

#btnTableHint {
  display: none;
  color: #029BDE;
}

#btnMemberSelectHint {
  display: none;
  color: #029BDE;
}

#noGrpsSection {
  text-align: center;
  margin-top: 20%;
  margin-bottom: 20%;
}

#noOrgSection {
  text-align: center;
  margin-top: 20%;
  margin-bottom: 20%;
}

.hidden-toolbar {
  display: none;
}
