<%- exposeLocalsToBrowser() %>
    <section
        class="d-flex qntm-eye-catcher-section justify-content-center align-items-center align-content-center flex-wrap text-center">
        <div class="eye-catcher-title-container">
            <div class="qntm-eye-catcher-headline font-headline-text blue-font m-auto">
                <h1>(2) Your order</h1>
            </div>
            <div class="qntm-eye-catcher-content font-normal-text d-flex flex-column flex-grow-1 flex-shrink-1">
                <span>
                    Check the following information to complete the order.
                </span>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 order-md-1">
                <hr class="mb-4">

                <h4 class="mb-3">Service</h4>
                <div class="mb-3">
                    <label for="type">Type</label>
                    <label read-only class="form-control">
                        <%= subType.name %>
                    </label>
                </div>

                <div class="mb-3">
                    <label for="price">Price</label>
                    <label read-only class="form-control" id="price1">
                        <%= subType.price %>€/month
                    </label>
                </div>
                <% if(subType.id==1){ %>
                    <div id="premium" class="mb-3">
                        <label for="details">Service includes</label>
                        <ul class="qntm-pricing-list from-control">
                            <li class="qntm-pricing-list-item">Unlimited content entries</li>
                            <li class="qntm-pricing-list-item">Quarterly Business Reviews</li>
                            <li class="qntm-pricing-list-item">Response Times for General Guidance: 24h</li>
                            <li class="qntm-pricing-list-item">Support during Business Hours</li>
                        </ul>
                    </div>
                    <% } else if (subType.id==2) { %>
                        <div id="enterprise" class="mb-3">
                            <label for="details">Service includes</label>
                            <ul class="qntm-pricing-list">
                                <li class="qntm-pricing-list-item">Dedicated servers</li>
                                <li class="qntm-pricing-list-item">99.95% Availability</li>
                                <li class="qntm-pricing-list-item">Designated Technical Account Manager</li>
                                <li class="qntm-pricing-list-item">24/7 Technical Support</li>
                            </ul>
                        </div>
                        <% } else { %>
                            <div id="standard" class="mb-3">
                                <label for="details">Service includes</label>
                                <ul class="qntm-pricing-list">
                                    <li class="qntm-pricing-list-item">100 entries for content</li>
                                    <li class="qntm-pricing-list-item">Usable API endpoints</li>
                                    <li class="qntm-pricing-list-item">Upgrade to Premium for full services</li>
                                    <li class="qntm-pricing-list-item">No credit card required to start</li>
                                </ul>
                            </div>
                            <% } %>
                                <% if(subType.id!=3){ %>
                                    <hr class="mb-4">
                                    <h4 class="mb-3">Payment</h4>

                                    <div class="d-block my-3">
                                        <div class="custom-control custom-radio">
                                            <input id="invoice" type="radio" class="custom-control-input" checked>
                                            <label class="custom-control-label" for="invoice">Invoice</label>
                                        </div>
                                    </div>
                                    <hr class="mb-4">
                                    <% } %>
                                        <a class="qntm-primary-button-wide font-special-text shape-rounded-corners-small btn btn-lg btn-block"
                                            href="/createsubscription/<%= subType.id %>">Buy now</a>
                                        <div class="qntm-eye-catcher-content-small font-extra-small-text mx-auto mb-4">
                                            <span>By placing an order, you agree to our terms and conditions. Please
                                                read
                                                our privacy policy
                                                and our notes on cookies.</span>
                                        </div>
            </div>
        </div>
    </div>
    <script>
    </script>