<body>
<!-- Headline section -->
<section class="qntm-eye-catcher-section">
    <div class="qntm-eye-catcher-title-container">
        <div class="qntm-eye-catcher-headline font-headline-text blue-font">
            <h1>We are Quantum CMS</h1>
        </div>
        <div class="qntm-eye-catcher-content font-normal-text">
                <span>
                    The Content Management System built for marketing.
                </span>
        </div>
    </div>
</section>

<!-- Meet the team section -->
<section class="qntm-why-section">
    <div class="qntm-why-container qntm-team-container shape-drop-shadow shape-rounded-corners-big blue-background">
        <div class="qntm-eye-catcher-headline font-headline-text white-font">
            <h1>Meet the team</h1>
        </div>
        <div class="qntm-slalom-section qntm-team-section">
            <div class="qntm-slalom-text white-font">
                <div class="qntm-slalom-text-title">
                    <h1 class="font-headline-text white-font">Alexander Aichholz</h1>
                </div>
                <div class="qntm-slalom-text-descripion">
                    <p>
                        Alex is a business information systems student currently pursuing his bachelor with a
                        specialization in business process management.
                        At Quantum CMS, Alex is responsible for the deployment optimization, UX design and frontend
                        development.
                    </p>
                </div>
            </div>
            <div class="qntm-slalom-graphic">
                <!-- TODO replace placeholder pic -->
                <img class="shape-drop-shadow shape-rounded-corners-big" src="images/teamMember.png">
            </div>
        </div>
        <div class="qntm-slalom-section qntm-section-reverse qntm-team-section">
            <div class="qntm-slalom-graphic qntm-slalom-reverse">
                <!-- TODO replace placeholder pic -->
                <img class="shape-drop-shadow shape-rounded-corners-big" src="images/teamMember.png">
            </div>
            <div class="qntm-slalom-text qntm-slalom-text-reverse white-font">
                <div class="qntm-slalom-text-title">
                    <h1 class="font-headline-text white-font">Alexander Heckmann</h1>
                </div>
                <div class="qntm-slalom-text-descripion">
                    <p>
                        Alex is a business information systems student currently pursuing his bachelor with a
                        specialization in software & system development and working as a working student involved in
                        product management at a sports cars manufacturer.
                        At Quantum CSM, Alex is responsible for the product vision, project management and the software
                        architecture.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- Section with the aim of Quantum -->
    <section class="qntm-about-us-eye-catcher-section">
        <div class="qntm-eye-catcher-title-container">
            <div class="font-special-text blue-font">
                <h2>Everything you need to build engaging online experiences.</h2>
            </div>
            <div class="qntm-eye-catcher-content font-normal-text">
                <span>
                    Quantum is the only headless CMS that enables both
                    marketers and developers to create engaging online experiences
                    that look and feel great on any channel.
                </span>
            </div>
        </div>
    </section>

    <!-- Separator line -->
    <div class="qntm-separator-line-about-us"></div>

    <!-- Section with statements -->
    <section class="qntm-statement-item-section">
        <!--1.-->
        <div class="qntm-statement-item-text">
            <div class="qntm-feature-item-text-title">
                <h2 class="font-headline-text">We put our customers first.</h2>
            </div>
            <div class="qntm-statement-item-text-descripion">
                <p>We’re here for you—wherever you are. We’ll listen to you—any time. We’ll support you—all the way.
                    Since 2004. Always.</p>
            </div>
        </div>
    </section>
    <!--2.-->
    <section class="qntm-statement-item-section qntm-statement-item-section-reverse">
        <div class="qntm-statement-item-text qntm-statement-item-text-reverse">
            <div class="qntm-feature-item-text-title">
                <h2 class="font-headline-text">We are principled.</h2>
            </div>
            <div class="qntm-statement-item-text-descripion">
                <p>We are proud of the inclusive and kind work environment we have built. We support each other as
                    we
                    work to solve important problems. We take our work seriously, and we do it with integrity and in
                    alignment with our core principles.</p>
            </div>
        </div>
    </section>
    <!--3.-->
    <section class="qntm-statement-item-section">
        <div class="qntm-statement-item-text">
            <div class="qntm-feature-item-text-title">
                <h2 class="font-headline-text">The next generation in content management.</h2>
            </div>
            <div class="qntm-statement-item-text-descripion">
                <p>Combining state-of-the-art technologies with a user-friendly authoring interface, Kontent is the
                    ideal solution for teams that want to deliver engaging digital experiences faster.</p>
            </div>
        </div>
    </section>

    <!-- Separator line -->
    <div class="qntm-separator-line-about-us"></div>

    <!-- Meet the team section -->
    <section class="qntm-team-section">
        <div class="qntm-team-container shape-drop-shadow shape-rounded-corners-big blue-background">
            <div class="qntm-team-parent">
                <div class="qntm-team-parent-text">
                    <h3 class="qntm-team-title font-headline-text white-font">Meet the team behind Quantum.</h3>
                </div>
                <div class="qntm-team-box-container">
                    <div class="qntm-team-box">
                        <div class="qntm-team-graphic">
                            <!-- TODO replace placeholder pic -->
                            <img class="shape-drop-shadow shape-rounded-corners-big" src="images/teamMember.png">
                        </div>
                        <h4>Alexander Heckmann</h4>
                        <p class="font-normal-text">
                            Alex is one of the founders at Quantum and he is responsible for project management and
                            leading the technical implementation by the developers.
                        </p>
                    </div>
                    <div class="qntm-team-box">
                        <div class="qntm-team-graphic">
                            <!-- TODO replace placeholder pic -->
                            <img class="shape-drop-shadow shape-rounded-corners-big" src="images/teamMember.png">
                        </div>
                        <h4>Alexander Aichholz</h4>
                        <p class="font-normal-text">
                            Alex is one of the founders at Quantum...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Section about getting started at the end of the page -->
<section class="qntm-getting-started-section">
    <div class="qntm-getting-started-container">
        <div class="qntm-getting-started-text-container">
            <h2 class="qntm-getting-started-title p-5-vertical blue-font">Ready to get started?</h2>
            <span class="getting-started-text p-5-vertical">
				Start writing your content and deliver it to all of your media channels - all within minutes!
			</span>
        </div>
        <a class="getting-started-button qntm-button font-special-text shape-rounded-corners-small"
           href="/getting-started">Get Started</a>
    </div>
</section>
    <!-- Section about getting started at the end of the page -->
    <section class="qntm-getting-started-section">
        <div class="qntm-getting-started-container">
            <div class="qntm-getting-started-text-container">
                <h2 class="qntm-getting-started-title p-5-vertical blue-font">Ready to get started?</h2>
                <span class="qntm-getting-started-text p-5-vertical">
                    Start writing your content and deliver it to all of your media channels - all within minutes!
                </span>
            </div>
            <a class="qntm-getting-started-button qntm-button font-special-text shape-rounded-corners-small"
                href="/getting-started">Get Started</a>
        </div>
    </section>
</body>
