<body>
    <!-- Headline section -->
    <section class="eye-catcher-section">
        <div class="eye-catcher-title-container">
            <div class="eye-catcher-headline font-headline-text blue-font">
                <h1>We are Quantum CMS</h1>
            </div>
            <div class="eye-catcher-content font-normal-text">
                <span>
                    The Content Management System built for marketing.
                </span>
            </div>
        </div>
    </section>

    <!-- Meet the team section -->
    <section class="team-section">
        <div class="team-container shape-drop-shadow shape-rounded-corners-big blue-background">
            <div class="team-parent">
                <div class="team-parent-text">
                    <h3 class="team-title font-headline-text white-font">Meet the team behind Quantum.</h3>
                </div>
                <div class="team-box-container">
                    <div class="team-box">
                        <div class="team-graphic">
                            <figure>
                                <!-- TODO replace placeholder pic -->
                                <img class="shape-drop-shadow shape-rounded-corners-big" src="images/teamMember.png">
                                <figcaption>Alexander Heckmann</figcaption>
                            </figure>
                        </div>

                        <p class="font-normal-text">
                            Alex is one of the founders at Quantum and he is responsible for project management and
                            leading the technical implementation by the developers.
                        </p>
                    </div>
                    <div class="team-box">
                        <div class="team-graphic">
                            <!-- TODO replace placeholder pic -->
                            <img class="shape-drop-shadow shape-rounded-corners-big" src="images/teamMember.png">
                        </div>
                        <h4>
                            Alexander Aichholz
                        </h4>
                        <p class="font-normal-text">
                            Alex is one of the founders at Quantum...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section with the aim of Quantum -->
    <section class="company-eye-catcher-section">
        <div class="eye-catcher-title-container">
            <div class="font-special-text blue-font">
                <h2>Everything you need to build engaging online experiences.</h1>
            </div>
            <div class="eye-catcher-content font-normal-text">
                <span>
                    Quantum is the only headless CMS that enables both
                    marketers and developers to create engaging online experiences
                    that look and feel great on any channel.
                </span>
            </div>
        </div>
    </section>

    <!-- Separator line -->
    <div class="separator-line-short"></div>

    <!-- Section with statements -->
    <section class="statement-item-section">
        <!--1.-->
        <div class="statement-item-text">
            <div class="feature-item-text-title">
                <h2 class="font-headline-text">We put our customers first.</h2>
            </div>
            <div class="statement-item-text-descripion">
                <p>We’re here for you—wherever you are. We’ll listen to you—any time. We’ll support you—all the way.
                    Since 2004. Always.</p>
            </div>
        </div>
    </section>
    <!--2.-->
    <section class="statement-item-section statement-item-section-reverse">
        <div class="statement-item-text statement-item-text-reverse">
            <div class="feature-item-text-title">
                <h2 class="font-headline-text">We are principled.</h2>
            </div>
            <div class="statement-item-text-descripion">
                <p>We are proud of the inclusive and kind work environment we have built. We support each other as
                    we
                    work to solve important problems. We take our work seriously, and we do it with integrity and in
                    alignment with our core principles.</p>
            </div>
        </div>
    </section>
    <!--3.-->
    <section class="statement-item-section">
        <div class="statement-item-text">
            <div class="feature-item-text-title">
                <h2 class="font-headline-text">The next generation in content management.</h2>
            </div>
            <div class="statement-item-text-descripion">
                <p>Combining state-of-the-art technologies with a user-friendly authoring interface, Kontent is the
                    ideal solution for teams that want to deliver engaging digital experiences faster.</p>
            </div>
        </div>
    </section>

    <!-- Separator line -->
    <div class="separator-line-short"></div>

    <!-- Section about getting started at the end of the page -->
    <section class="qntm-getting-started-section">
        <div class="getting-started-container">
            <div class="getting-started-text-container">
                <h2 class="getting-started-title p-5-vertical blue-font">Ready to get started?</h2>
                <span class="getting-started-text p-5-vertical">
                    Start writing your content and deliver it to all of your media channels - all within minutes!
                </span>
            </div>
            <a class="getting-started-button button font-special-text shape-rounded-corners-small"
                href="/getting-started">Get Started</a>
        </div>
    </section>
</body>
