<!-- section with eye catcher -->
<section class="eye-catcher-section">
    <div class="eye-catcher-title-container">
        <div class="eye-catcher-headline font-headline-text blue-font">
            <h1>Powering your digital experiences</h1>
        </div>
        <div class="eye-catcher-content font-normal-text">
				<span>
					The Quantum Content Management System helps create, manage and optimize your digital customer
					experiences.
					The Quantum CMS is essential to managing the overall
					personalized digital experience
					across different channels, including websites, portals, email, mobile apps, connected devices and
					social media.
				</span>
        </div>
        <div class="eye-catcher-content-small font-extra-small-text">
            <span>Try Quantum for free!</span>
        </div>
        <div class="eye-catcher-button" title="Try Free">
            <a class=" button font-special-text shape-rounded-corners-small" href="/getting-started">Get Started</a>
        </div>
        <div class="eye-catcher-img-container">
            <img class="eye-catcher-img shape-drop-shadow shape-rounded-corners-big" src="images/eye-catcher.jpg"
                 alt="Eye catcher CMS">
        </div>
    </div>
    <!-- img class="eye-catcher-background" src="images/blue-violet-hero.svg" -->

    <!-- /img -->

</section>
<div class="separator-line-short"></div>
<!-- Todo fix text / image alignment in feature section -->
<section class="feature-intro-section">
    <div class="feature-intro-title-container">
        <div class="feature-intro-title-width-container">
            <div class="feature-intro-headline-teaser font-small-text">
                <span>Redefining content delivery</span>
            </div>
            <div>
                <h1 class="eye-catcher-headline font-headline-text blue-font">
                    <span>The central platform for your content</span>
                </h1>
                <div class="feature-intro-content">
						<span>
							You love writing content, but not distributing it to different media channels.
							Our fully managed service means your writers can now focus on delivering content,
							while developers can concentrate on development,
							without having to be involved in the content creation process.
						</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feature-item-section">
    <div class="feature-item-text">
        <div class="feature-item-text-title">
            <h1 class="font-headline-text">Create content lightning fast</h1>
        </div>
        <div class="feature-item-text-descripion">
            <p>A flexible tool to power any front end while retaining powerful authoring capabilities,
                delivering the content in no time.
            </p>
        </div>
    </div>
    <div class="feature-item-graphic">
        <!-- TODO replace placeholder pic -->
        <img class="shape-drop-shadow shape-rounded-corners-big" src="images/feature1.jpg">
    </div>
</section>
<section class="feature-item-section feature-item-section-reverse">
    <div class="feature-item-graphic feature-item-graphic-reverse">
        <!-- TODO replace placeholder pic -->
        <img class="shape-drop-shadow shape-rounded-corners-big" src="images/feature2.jpg">
    </div>
    <div class="feature-item-text feature-item-text-reverse">
        <div class="feature-item-text-title">
            <h1 class="font-headline-text">Overviewing your content</h1>
        </div>
        <div class="feature-item-text-descripion">
            <p>Content is independent of any presentation, so having a central tool for managing and
                distributing your content helps streamlining the digital experience.
            </p>
        </div>
    </div>
</section>
<section class="feature-item-section">
    <div class="feature-item-text">
        <div class="feature-item-text-title">
            <h1 class="font-headline-text">Digital experience at full speed</h1>
        </div>
        <div class="feature-item-text-descripion">
            <p>Get the content you need right away with the built-in delivery endpoints.
                Powered by REST APIs.
            </p>
        </div>
    </div>
    <div class="feature-item-graphic">
        <img class="shape-drop-shadow shape-rounded-corners-big" src="images/feature3.jpg">
    </div>
</section>
<!-- Contains information about why people should use our platform -->
<section class="why-section">
    <div class="why-container shape-drop-shadow shape-rounded-corners-big blue-background">
        <div class="why-parent">
            <div class="why-parent-text">
                <h4 class="why-title-question font-extra-small-text">Why Quantum CMS?</h4>
                <h3 class="why-title font-headline-text white-font">We Are Focused On Getting Your Data Anywhere You
                    Want
                    It To Be Displayed</h3>
            </div>
            <div class="why-box-container">
                <div class="why-box">
                    <h4 class="why-reason">
                        Efficiency
                    </h4>
                    <p class="font-normal-text">
                        Accelerate building digital experiences with a content platform that delivers at enterprise
                        scale, increasing flexibility with a content management system, while
                        integrating seamlessly with other services.
                    </p>
                </div>
                <div class="why-box">
                    <h4 class="why-reason">
                        Version-Controlled
                    </h4>
                    <p class="font-normal-text">
                        When editing content, copies of previous state get saved, so you can switch between different
                        versions without any hassle - retrieving old ideas quickly!
                    </p>
                </div>
                <div class="why-box">
                    <h4 class="why-reason">
                        Cloud-Hosted
                    </h4>
                    <p class="font-normal-text">
                        Quantum CMS is built for being used without any setup needed, so you can access it from anywhere
                        and get started within minutes.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section about getting started at the end of the page -->
<section class="section-getting-started">
    <div class="getting-started-container">
        <div class="getting-started-text-container">
            <h2 class="getting-started-title p-5-vertical blue-font">Ready to get started?</h2>
            <span class="getting-started-text p-5-vertical">
				Start writing your content and deliver it to all of your media channels - all within minutes!
			</span>
        </div>
        <a class="getting-started-button button font-special-text shape-rounded-corners-small" href="/getting-started">Get Started</a>
    </div>
</section>
