<body>

<section class="qntm-eye-catcher-section text-center">
    <div class="eye-catcher-title-container">
        <div class="qntm-eye-catcher-headline font-headline-text blue-font">
            <h1>Quantum CMS Pricing</h1>
        </div>
        <div class="qntm-eye-catcher-content font-normal-text">
				<span>
					The Content Management System built for omnichannel experiences.
				</span>
        </div>
    </div>
</section>

<!-- Contains information about why people should use our platform -->
<section class="qntm-pricing-section background-image-right-side">
    <div class="qntm-pricing-container">
        <div class="qntm-pricing-box shape-drop-shadow-straight shape-rounded-corners-big">
            <div class="qntm-pricing-content">
                <h2 class="qntm-pricing-title">
                    Premium
                </h2>
                <h5 class="qntm-pricing-price-tag font-extra-small-text">from 40€/month</h5>
                <a class="getting-started-button qntm-button font-special-text shape-rounded-corners-small"
                   href="/signup">Sign
                    Up</a>
                <div class="qntm-pricing-separator-line"></div>
                <p class="font-normal-text pricing-description">
                    For serverless applications with low or variable traffic. Minimal configuration required.
                </p>
                <ul class="qntm-pricing-list">
                    <li class="qntm-pricing-list-item">Unlimited content entries</li>
                    <li class="qntm-pricing-list-item">Collaborate with your organization</li>
                    <li class="qntm-pricing-list-item">Organize your teams in working groups</li>
                    <li class="qntm-pricing-list-item">Switch between content versions</li>
                </ul>
            </div>
        </div>
        <div class="qntm-pricing-box qntm-pricing-middle-box shape-drop-shadow-straight shape-rounded-corners-big">
            <div class="qntm-pricing-content">
                <h2 class="qntm-pricing-title">
                    Enterprise
                </h2>
                <h5 class="qntm-pricing-price-tag font-extra-small-text">from 70€/month</h5>
                <a class="getting-started-button qntm-button font-special-text shape-rounded-corners-small"
                   href="/signup">Sign
                    Up</a>
                <div class="qntm-pricing-separator-line"></div>
                <p class="font-normal-text pricing-description">
                    For production applications for enterprise-scale.
                    Sophisticated workload capabilities.
                <p>
                <ul class="qntm-pricing-list">
                    <li class="qntm-pricing-list-item">100 entries for content</li>
                    <li class="qntm-pricing-list-item">Usable API endpoints</li>
                    <li class="qntm-pricing-list-item">Upgrade to Premium for full functionality</li>
                    <li class="qntm-pricing-list-item">Billing centralized</li>
                </ul>
            </div>
        </div>
        <div class="qntm-pricing-box shape-drop-shadow-straight shape-rounded-corners-big">
            <div class="qntm-pricing-content">
                <h2 class="qntm-pricing-title">
                    Standard
                </h2>
                <h5 class="qntm-pricing-price-tag font-extra-small-text">from 0€/month</h5>
                <a class="getting-started-button qntm-button font-special-text shape-rounded-corners-small"
                   href="/signup">Sign
                    Up</a>
                <div class="qntm-pricing-separator-line"></div>
                <p class="font-normal-text pricing-description">
                    For exploring Quantum CMS in a sandbox environment. Basic configuration
                    options.
                </p>
                <ul class="qntm-pricing-list">
                    <li class="qntm-pricing-list-item">100 entries for content</li>
                    <li class="qntm-pricing-list-item">Usable API endpoints</li>
                    <li class="qntm-pricing-list-item">Upgrade to Premium for full functionality</li>
                    <li class="qntm-pricing-list-item">No credit card required to start</li>
                </ul>
            </div>
        </div>
    </div>

</section>

<section class="qntm-getting-started-section">
    <div class="qntm-getting-started-container">
        <div class="qntm-getting-started-text-container">
            <h2 class="qntm-getting-started-title p-5-vertical blue-font">Ready to get started?</h2>
            <span class="getting-started-text p-5-vertical">
				Start writing your content and deliver it to all of your media channels - all within minutes!
			</span>
        </div>
        <a class="getting-started-button qntm-button font-special-text shape-rounded-corners-small"
           href="getting-started">
            Get Started
        </a>
    </div>
</section>

</body>
