<div class="container">
    <h1>Text content</h1>

    <form action="/textcontent">
        <div class="mb-3">
            <input type="text" value="" length="20" name="q" placeholder="Search in title">
            <button type="submit">Search</button>
        </div>
    </form>

    <div class="container">
        <table class="table">
            <tbody>
                <% textcontents.forEach(function(textcontent){ %>
                    <tr class="">

                        <td class=""> <a href="/textcontent/<%= textcontent.id %>/edit"><%= textcontent.title %></a></td>
                        <!-- td class=""> <a href="/textcontent/<%= textcontent.id %>/destroy">delete</a></td-->
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <a class="btn btn-info mb-4" href="/textcontent/new">Add</a>
    </div>
</div>
</div>
