<section class="qntm-getting-started-section">
    <div class="qntm-getting-started-container">
        <div class="qntm-getting-started-text-container">
            <h2 class="qntm-getting-started-title p-5-vertical blue-font">Ready to get started?</h2>
            <span class="getting-started-text p-5-vertical">
				Start writing your content and deliver it to all of your media channels - all within minutes!
			</span>
        </div>
        <a class="getting-started-button qntm-primary-button font-special-text shape-rounded-corners-small" href="/signup">Get
            Started</a>
    </div>
</section>
